@{
    var cookie = Context.Request.Cookies["FamilyPointsAuthenticationToken"];
    var usuarioLogado = Core.Extensions.CookieExtension.SerializarToken(cookie);
    var usuarioOpcoesMae = usuarioLogado.UsuarioOpcoes.Where(x => x.OpcaoSistema.IdOpcaoMae == null);

    @functions
    {
        public async Task ImprimirMenu(OpcaoSistema opcao, IEnumerable<UsuarioOpcao> usuarioOpcoes, int nivel = 0)
        {
            var filhas = usuarioOpcoes.Where(x => x.OpcaoSistema.IdOpcaoMae == opcao.Id);

            <li style="margin-left: @(nivel * 2)rem;">
                @if (!filhas.Any())
                {
                    <a asp-action="Index" asp-controller="@opcao.Descricao.RemoveDiacritics()">@opcao.Descricao</a>
                }
                else
                {
                    <span>@opcao.Descricao</span>
                }
            </li>

            @foreach (var filha in filhas)
            {
                await ImprimirMenu(filha.OpcaoSistema, usuarioOpcoes, nivel + 1);
            }
        }
    }
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/iziToast/css/iziToast.min.css" />
    <link rel="stylesheet" href="~/lib/uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="~/lib/uikit/css/uikit-rtl.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>

<body id="body">
    <header id="header">
        <partial name="./_Header.cshtml" />
    </header>

    <main role="main" id="main">
        <aside id="menu-lateral">
            <div class="conteudo-menu">
                <ul>
                    @foreach (var usuarioOpcaoMae in usuarioOpcoesMae)
                    {
                        await ImprimirMenu(usuarioOpcaoMae.OpcaoSistema, usuarioLogado.UsuarioOpcoes);
                    }
                </ul>
                <div>
                    <a asp-action="Logout" asp-controller="Login">Sair</a>
                </div>
            </div>
        </aside>
        <section id="corpo">@RenderBody()</section>
    </main>

    <footer id="footer">
        <partial name="./_Footer.cshtml" />
    </footer>

    <script src="~/lib/uikit/js/uikit.min.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/iziToast/js/iziToast.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
